.container {
  max-width: 55vw;
  margin: 0 auto;
  display: block;
  margin-bottom: 4rem;
}

.container--blog {
  background-color: #ddd;
  min-height: 20vh;
  padding: 3rem;
  margin-bottom: 1rem;

  h3 {
    padding-bottom: .5rem;
  }

  h4 {
    color: #888
  }


  p {
    line-height: 2rem;
  }
}